fastapi
uvicorn[standard]
earthengine-api
geopandas
geojson
requests
rasterio
shapely
torch
torchvision
Pillow
numpy
matplotlib
streamlit
google-generativeai
python-multipart
folium
streamlit_folium
plotly
pydantic